<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toyota Hilux</title>
    <link rel="stylesheet" href="styles.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("https://images.unsplash.com/photo-1620064853086-abbd426f9cbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .Home {
            display: flex;
        }

        .Home li {
            margin: 20px;
        }

        .Barra {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: large;
        }

        .container {
            display: flex;
            gap: 1rem;
            max-width: 60%;
            margin: 2rem auto;
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        img {
            width: 430px;
            height: 580px;
        }


        .Imagen {
            /* Eliminar el ancho fijo */
            height: 100%;
            border-radius: 20px 0 0 10px;
            object-fit: cover;
            /* Ajustar al tamaño del contenedor sin distorsionar */
        }

        .description {
            padding: 1rem;
        }

        .description p {
            text-align: justify;
            padding-right: 10%;
        }

        .button-container {
            display: flex;
            flex: 1;
            justify-content: flex-start;
        }

        .btn-comprar {
            padding: 1rem 2rem;
            border-radius: 2rem;
            background-color: #E51837;
            color: #FFF;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
        }
    </style>

</head>

<body>

    <nav class="Barra">
        <nav class="Home">
            <li><a href="#" style="text-decoration: none; color: #000;" onclick="history.back()">Regresar</a></li>
        </nav>
    </nav>

    <main>
        <div class="container">
            
            <div class="Imagen">
                <img src="https://argentina.agrofystatic.com/media/catalog/product/cache/850x600/t/o/toro-freedom-di-sel-2-0-tdi-au-ORIO-Hnos--agrofy-12-20230207231937.jpg" alt="">
            </div>

            <div class="description">
                <h1>Fiat Toro Ranch 2.0TDI 4x4 AT</h1>
                <p> 
                    La Fiat Toro Ranch 2.0TDI 4x4 AT es una camioneta de la marca Fiat con tracción en las cuatro ruedas y transmisión automática. 
                    Este modelo cuenta con un motor diésel de 2.0 litros y ofrece un rendimiento potente y eficiente. 
                    La Toro Ranch se destaca por su diseño robusto y sofisticado, así como por su amplio espacio interior y capacidad de carga. 
                    Es una opción ideal para aquellos que buscan combinar la versatilidad de una camioneta con el confort de un vehículo familiar.
                </p>
                <div class="button-container">
                    <form action="/compraPost" method="get">
                        <input type="hidden" value='<%= auto %>' name="auto">
                        

                        <input class="btn-comprar" type="submit" value="Comprar">
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>