<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ford Ranger C/D 4x2 XLS</h1>
    <img src="https://images.squarespace-cdn.com/content/v1/5724da732fe1315d3927a3c1/1516895530558-OCMNANWC8AJ7CLFSYIEJ/Ford-Ranger-Gif-360.gif" alt="">
    <P>Aire acondicionado, Dirección asistida, Cierre centralizado, Vidrios eléctricos, 
        Computadora de abordo, Control de velocidad crucero, Espejos eléctricos, Faros antiniebla, Faros regulables desde el interior, Motor Turbo, Llantas de Aleación, Alarma, Frenos ABS, Frenos de disco en las cuatro ruedas, Airbags, Control de tracción, Control de estabilidad (ESP), Traba para niños, Rueda de auxilio de igual medida, Reproduce CD / DVD, Entrada USB / Auxiliar, Bluetooth, Comandos en el volante / satelital</P>
        <a href="http://localhost:3000/pago">Comprar</a>
</body>
</html>