<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chevrolet S-10</title>
    <link rel="stylesheet" href="styles.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("https://images.unsplash.com/photo-1620064853086-abbd426f9cbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .Home {
            display: flex;
        }

        .Home li {
            margin: 20px;
        }

        .Barra {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: large;
        }

        .container {
            display: flex;
            gap: 1rem;
            max-width: 60%;
            /* Ajustar al tamaño de la imagen */
            margin: 2rem auto;
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        img {
            width: 390px;
            height: 580px;
        }

        .Imagen {
            /* Eliminar el ancho fijo */
            height: 100%;
            border-radius: 20px 0 0 10px;
            object-fit: cover;
            /* Ajustar al tamaño del contenedor sin distorsionar */
        }

        .description {
            padding: 1rem;
        }

        .description p {
            text-align: justify;
            padding-right: 10%;
            line-height: 1;
        }

        .button-container {
            display: flex;
            flex: 1;
            justify-content: start;
        }

        .button-container a {
            padding: 1rem 2rem;
            border-radius: 2rem;
            background-color: #E51837;
            color: #FFF;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s ease;
        }
    </style>

</head>

<body>

    <nav class="Barra">
        <nav class="Home">
            <li><a href="#" style="text-decoration: none; color: #000;" onclick="history.back()">Regresar</a></li>
            <li><a href="#" style="text-decoration: none; color: #000;">Home</a></li>
            <li><a href="#" style="text-decoration: none; color: #000;">Contactanos</a></li>
            <li><a href="#" style="text-decoration: none; color: #000;">Acerca de</a></li>
        </nav>
    </nav>

    <main>
        <div class="container">
            
            <div class="Imagen">
                <img src="https://cdn.salaodocarro.com.br/_upload/galleries/2017/08/16/chevrolet-s10-ltz-59947c3783380_album.jpg">
            </div>

            <div class="description">
                <h1>Chevrolet S-10</h1>
                <p> 
                    Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, 
                    Vidrios eléctricos, Butacas de cuero, Volante regulable, Volante de cuero, Computadora de abordo, 
                    Control de velocidad crucero, Espejos eléctricos, Espejos exteriores retractiles eléctricos, 
                    Faros antiniebla, Faros regulables desde el interior, Doble tracción / 4x4, Motor Turbo, 
                    Sensor de estacionamiento, Llantas de Aleación, Alarma, Frenos ABS, Airbags, Control de tracción, 
                    Control de estabilidad (ESP), Traba para niños, Asistente de arranque en pendientes, 
                    Rueda de auxilio de igual medida, Reproduce CD / DVD, Entrada USB / Auxiliar,
                    Bluetooth, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento, GPS
                </p>
                <div class="button-container">
                    <form action="/compraPost" method="get">
                        <input type="hidden" value='<%= auto %>' name="auto">
                        

                        <input type="submit" value="Comprar">
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>

</html>