<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toyota Corolla</title>
    <link rel="stylesheet" href="styles.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("https://images.unsplash.com/photo-1620064853086-abbd426f9cbc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .Home {
            display: flex;
        }

        .Home li {
            margin: 20px;
        }

        .Barra {
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: large;
        }

        .container {
            display: flex;
            gap: 1rem;
            max-width: 60%;
            height: auto;
            margin: 2rem auto;
            background-color: #FFF;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .Imagen {
            height: 100%;
            border-radius: 20px 0 0 10px;
            object-fit: cover;
        }

        .description {
            padding: 1rem;
        }

        .description p {
            display: block;
            text-align: justify;
            padding-right: 10%;
        }

        .button-container {
            display: flex;
            flex: 1;
            justify-content: flex-start;
        }

        .btn-comprar {
            padding: 1rem 2rem;
            border-radius: 2rem;
            background-color: #E51837;
            color: #FFF;
            text-decoration: none;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
            transition: 0.3s ease;
        }

    </style>
</head>

<body>

    <nav class="Barra">
        <div class="Home">
            <li><a href="#" style="text-decoration: none; color: #000;" onclick="history.back()">Regresar</a></li>
            <li><a href="#" style="text-decoration: none; color: #000;">Home</a></li>
            <li><a href="#" style="text-decoration: none; color: #000;">Contactanos</a></li>
            <li><a href="#" style="text-decoration: none; color: #000;">Acerca de</a></li>
        </div>
    </nav>

    <main>
        <div class="container">
            
            <div class="Imagen">
                <img src="https://images.unsplash.com/photo-1619682817481-e994891cd1f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80">
            </div>

            <div class="description">
                <h1>Toyota Corolla</h1>
                <p>Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, Cierre de
                    puertas y encendido sin llave, Vidrios eléctricos, Butacas de cuero, Butacas eléctricas, Volante
                    regulable, Volante de cuero, Computadora de abordo, Control de velocidad crucero, Espejos
                    eléctricos, Espejos exteriores retractiles eléctricos, Espejo central antideslumbrante, Faros
                    antiniebla, Faros de Xenon, Caja automática, Camara de estacionamiento trasera, Sensor de lluvia,
                    Llantas de Aleación, Alarma, Frenos ABS, Frenos de disco en las cuatro ruedas, Airbags, Anclaje de
                    asientos infantiles (Isofix), Rueda de auxilio de igual medida, Reproduce CD / DVD, Entrada USB /
                    Auxiliar, Bluetooth, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento, GPS
                </p>
                <div class="button-container">
                    <form action="/compraPost" method="get">
                        <input type="hidden" value='<%= auto %>' name="auto">
                        

                        <input class="btn-comprar" type="submit" value="Comprar">
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
