<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-straight/css/uicons-thin-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <title>Alquilar</title>
    <style>
        html body {
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0;
            padding: 0;
            height: 100%;
        }

        /*//////////    Opciones    //////////*/
        .contenedor {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .date {
            flex: 1 0 calc(100% - 50px);
            min-width: 170px;
            max-width: 350px;
            background: rgba(255, 255, 255, 0.527);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            padding-bottom: 20px;
            justify-content: center;
            text-align: center;
            align-items: center;
        }

        .Inputs input {
            padding: 5px;
            margin: 22px;
            background: #ffffff64;
            border-right: none;
            border-top: none;
            border-left: none;
            font-family: 'Courier New', Courier, monospace;
        }

        .contenedor .Doc .icon svg {
            height: 85px;
            width: auto;
            fill: rgb(113, 112, 112);
        }

        .Doc {
            width: auto;
            cursor: pointer;
            border: 2px dashed #cacaca;
        }

        .archive {
            display: flex;
            justify-content: center;
            gap: 30px;
        }

        .File {
            display: none;
        }

        .Con {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .Fecha input {
            cursor: pointer;
            border-top: none;
            border-right: none;
            border-left: none;
            background: #ffffff;
            box-shadow: gray;
            font-family: 'Courier New', Courier, monospace;
        }

        .info select {
            cursor: pointer;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 3px solid #aaacab;
            font-family: 'Courier New', Courier, monospace;
            margin: 10px;
        }

        .Vehiculos {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
            gap: 25px;
            justify-content: center;
        }

        .Imagen {
            width: 100%;
            height: auto;
        }

        .Vehiculos .opcion {
            background-color: rgb(255, 255, 255);
            box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
            overflow: hidden;
            border-radius: 30px;
        }

        .Vehiculos .opcion .info {
            position: relative;
            top: 0;
            left: 0;
            padding: 1px;
            margin: 15px;
        }

        .text {
            display: flex;
            gap: 15px;
            margin-bottom: 10px;
        }

        .t1 {
            color: #000;
        }

        .t2 {
            color: #aaacab;
        }

        .Parte1 {
            margin: 35px;
        }

        .iconos {
            font-size: 18px;
            letter-spacing: 20px;
            display: flex;
            align-items: center;
        }

        /*///////////////////*/

        header {
            background-color: rgb(255, 255, 255);
        }

        .menu {
            background-color: rgb(90, 89, 94);
            color: #ffffff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            cursor: pointer;
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
            height: 8vh;
            width: auto;
            margin-top: 0;
        }

        .RAD {
            display: none;
        }

        .barra {
            cursor: pointer;
            width: 100%;
            height: auto;
            border: none;
            border-bottom: 1.5px solid rgb(148, 148, 148);
            transform: all 0.2s;
        }

        .menu input:checked+.barra {
            transform: translate(x 1s);
            border: none;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom: 3px solid aqua;
        }

        .Parte2 {
            margin-top: 45px;
        }

        .Boton {
            color: aliceblue;
            background-color: rgb(90, 89, 94);
            margin-top: 35px;
            margin-bottom: 10px;
            width: 100%;
            height: 50px;
            border: 1px solid rgb(0, 0, 0);
            border-radius: 10px;
            font-family: inherit;
            font-size: larger;
            cursor: pointer;
            text-transform: uppercase;
        }

        input[type="radio"] {
            width: 20px;
            height: 20px;
        }

        .Radio {
            display: none;
        }

        .like {
            padding: 2px;
            width: 20px;
            height: auto;
            border: 1px solid rgb(197, 202, 207);
            border-radius: 50%;
            color: rgb(197, 202, 207);
        }

        .opcion input:checked+.like {
            color: rgb(0, 251, 255);
            border: 2px solid rgb(6, 255, 251);
        }

        .opcion {
            transition: all 0.3s;
            cursor: pointer;
        }

        .opcion:hover {
            transform: scale(1.05);
            border: 3px solid aqua;
            box-shadow: 4px 4px 4px aquamarine;
        }

        .iconos {
            display: flex;
            justify-content: space-around;
        }
    </style>
    <link rel="shortcut icon" href="">
</head>

<body>

    <header>
        <div class="Principal">

            <ul class="menu">

                <label class="MARCADO" onclick="INICIO()">
                    <input type="radio" class="RAD" id="uno"><span class="barra">INICIO</span>
                </label>

                <label class="MARCADO" onclick="COMPRAR()">
                    <input type="radio" class="RAD" id="dos"><span class="barra">COMPRAR</span>
                </label>

                <label class="MARCADO" onclick="ALQUILAR()">
                    <input type="radio" class="RAD" id="tres"><span class="barra">ALQUILAR</span>
                </label>

                <label class="MARCADO" onclick="ACERCA_DE()">
                    <input type="radio" class="RAD" id="cuatro"><span class="barra">ACERCA DE</span>
                </label>

                <label class="MARCADO" onclick="CONTACTANOS()">
                    <input type="radio" class="RAD" id="cinco"><span class="barra">CONTACTANOS</span>
                </label>

            </ul>

        </div>

    </header>

    <section class="Contenido">

        <div class="Parte1">
            <form action="/alquilarPost" method="post" class="Datos">

                <div class="contenedor">
                    <section class="date">
                        <div class="info">
                            <h2 style="text-align: center;">Datos Personales</h2>
                            <div class="Inputs">

                                <select name="condicion_iva" id="condicion_iva" class="Inputs">
                                    <option>Condición frente al IVA:</option>
                                    <option value="responsable_inscripto">Responsable Inscripto</option>
                                    <option value="monotributista_clase_a">Monotributista Clase A</option>
                                    <option value="monotributista_clase_b">Monotributista Clase B</option>

                                </select>

                                <input type="text" class="Usuario" placeholder="Domicilio de recidencia" />
                            </div>
                        </div>
                    </section>

                   

                    <section class="date">
                        <div class="info">
                            <h2 style="text-align: center;">Luegar de entrega</h2>

                            <select name="lugarEntrega" class="op">
                                <option selected>Seleccionar</option>
                                <option value="Aeropueto de Mendoza">Aeropueto deeeeeeeee Mendoza</option>
                                <option value="Concesionaria Oficial">Concesionaria Oficial</option>
                                <option value="Terminal de Omnibus de Mendoza">Terminal de Omnibus de Mendoza</option>
                            </select>

                            <div class="Cont">
                                <h1>Fechas</h1>
                                <div class="Con">
                                    <div class="Fecha">
                                        <input type="date" name="fechaSalida">
                                        <p>Salida</p>
                                    </div>
                                    <div class="Fecha">
                                        <input type="date" name="fechaRegreso">
                                        <p>Regreso</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>

                <div class="Parte2" id="provisional">
                </div>
                <input type="submit" value="alquilar" class="Boton">
            </form>
        </div>

    </section>

    <script>
        function redireccionar() {
            window.location.href = "/alquilarPost";
        }
        function INICIO() {
            window.location.href = "/";
        }
        function COMPRAR() {
            window.location.href = "/compras";
        }
        function ALQUILAR() {
            window.location.href = "/alquilar";
        }
        function ACERCA_DE() {
            window.location.href = "#";
        }
        function CONTACTANOS() {
            window.location.href = "https://linktab.co/RedesDS";
        }

        async function conseguirAutos() {

            try {
               
                const response = await fetch('/getAutos');
                const autos = await response.json();
                var autosArticle = document.createElement('article');
                autosArticle.id = 'autos'
                autosArticle.setAttribute('class', 'Vehiculos')
          
                autos.forEach(auto => autosArticle.appendChild(plantilla(auto)));

                document.getElementById('provisional').appendChild(autosArticle);

            } catch (e) {
                console.log(e.message);
            }
        }
        conseguirAutos()
        function plantilla(auto) {
            var p = document.getElementById('plantillaAuto')
            var plantilla = document.importNode(p.content, true)

            //Asigno los valores de los autos en la plantilla

            plantilla.getElementById('auto1').src = auto.imagen;
            plantilla.getElementById('modelo').textContent = auto.modelo;
            plantilla.getElementById('categoria').textContent=auto.categoria;

            plantilla.getElementById('autoEleccion').value='{"modelo":"'+auto.modelo+'","precio":"'+auto.precio+'"}';
            return plantilla;
        }
    </script>
    <template id="plantillaAuto">
        <label class="opcion">
            <img src="" class="Imagen" id="auto1">
            <div class="info">
                <div class="text">
                    <span class="t1" id="modelo">Modelo</span>
                    <span class="t2" id="categoria">(Categoria A)</span>
                </div>
                <div class="iconos">
                    <i class="fi fi-tr-temperature-frigid"></i>
                    <i class="fi fi-rr-users-alt"></i>
                    <i class="fi fi-rr-tire-rugged"></i>
                    <i class="fi fi-bs-shield-check"></i>
                    <i class="fi fi-tr-circle-bolt"></i>

                    <input type="radio" name="eleccion" class="Radio" value="Modelo" id="autoEleccion">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor" class="like">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>

                </div>
            </div>
        </label>
    </template>

</body>

</html>