<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chevrolet Onix</h1>
    <img src="https://lh4.ggpht.com/-1_5dUV63Drw/UISLEy14mmI/AAAAAAAAHdQ/_Oo3PVKJpnc/Chevrolet%252520Onix%252520LTZ%252520e%252520LT_thumb%25255B1%25255D.gif?imgmax=800" alt="">
    <p>Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, Vidrios eléctricos, Butacas de cuero, Volante regulable, Computadora de abordo, Control de velocidad crucero, Espejos eléctricos, Faros antiniebla, Sensor de estacionamiento, Camara de estacionamiento trasera, Sensor de lluvia, Sensor de luz, Llantas de Aleación, Alarma, Frenos ABS, Airbags, Control de tracción, Entrada USB / Auxiliar,
         Bluetooth, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento, GPS</p>
         <a href="http://localhost:3000/pago">Comprar</a>
</body>
</html>