<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>BMW Serie 5</h1>
   <img src="https://thumbs.gfycat.com/PopularAdventurousEmperorpenguin-max-1mb.gif" alt="">
   <p>Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, Vidrios eléctricos, Butacas de cuero, Butacas eléctricas, Volante regulable, Volante de cuero, Computadora de abordo, Control de velocidad crucero, Espejos eléctricos, Espejos exteriores retractiles eléctricos, Espejo central antideslumbrante, Faros antiniebla, Faros de Xenon, Faros direccionales, Techo panoramico o corredizo, Caja automática, Sensor de estacionamiento, Sensor de lluvia, Sensor de luz, Limpia/lava faros, Llantas de Aleación, Alarma, Frenos ABS, Frenos de disco en las cuatro ruedas, Airbags, Control de tracción, Control de estabilidad (ESP), Traba para niños, Anclaje de asientos infantiles (Isofix), 
    Reproduce CD / DVD, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento</p>
    <a href="#">Comprar</a>
</body>
</html>