<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Toyota Hilux (L21) 2.8 D/C 4X4</h1>
    <img src="https://thumbs.gfycat.com/PlushOrderlyCoelacanth-size_restricted.gif" alt="">
    <p>Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, Cierre de puertas y encendido sin llave, Vidrios eléctricos, Butacas de cuero, Butacas eléctricas, Volante regulable, Volante de cuero, Computadora de abordo, Control de velocidad crucero, Espejos eléctricos, Espejos exteriores retractiles eléctricos, Espejo central antideslumbrante, Faros antiniebla, Faros regulables desde el interior, Faros de Xenon, Caja automática, Doble tracción / 4x4, Motor Turbo, Camara de estacionamiento trasera, Sensor de lluvia, Sensor de luz, Llantas de Aleación, Alarma, Frenos ABS, Airbags, Control de tracción, Control de estabilidad (ESP), Traba para niños, Anclaje de asientos infantiles (Isofix), Asistente de arranque en pendientes, Rueda de auxilio de igual medida, Reproduce CD / DVD, Entrada USB / Auxiliar,
         Bluetooth, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento, GPS</p>
         <a href="#">Comprar</a>
</body>
</html>