<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ford Fiesta KD </h1>
    <img src="https://i.makeagif.com/media/3-22-2018/Kly_qL.gif" alt="">
    <p>Aire acondicionado, Dirección asistida, Cierre centralizado, Vidrios eléctricos, Computadora de abordo, 
        Espejos eléctricos, Alarma, Frenos ABS, Airbags, Reproduce CD / DVD, Entrada USB / Auxiliar, Bluetooth</p>
        <a href="#">Comprar</a>
</body>
</html>