<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Chevrolet S-10</h1>
    <img src="https://i.makeagif.com/media/5-25-2017/rbZxux.gif" alt="">
    <p>Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, Vidrios eléctricos, Butacas de cuero, Volante regulable, Volante de cuero, Computadora de abordo, Control de velocidad crucero, Espejos eléctricos, Espejos exteriores retractiles eléctricos, Faros antiniebla, Faros regulables desde el interior, Doble tracción / 4x4, Motor Turbo, Sensor de estacionamiento, Llantas de Aleación, Alarma, Frenos ABS, Airbags, Control de tracción, Control de estabilidad (ESP), Traba para niños, Asistente de arranque en pendientes, Rueda de auxilio de igual medida, Reproduce CD / DVD, Entrada USB / Auxiliar,
         Bluetooth, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento, GPS</p>
         <a href="http://localhost:3000/pago">Comprar</a>
</body>
</html>