<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Mercedes Benz</h1>
    <img src="https://38.media.tumblr.com/783af4bdcf4d3058e5091ddfe3535fb0/tumblr_nlr9mleWgp1rwtzqno1_540.gif" alt="">
    <p>Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, Vidrios eléctricos, Butacas de cuero, Butacas eléctricas, Butacas calefaccionadas, Volante regulable, Volante de cuero, Computadora de abordo, Control de velocidad crucero, Espejos eléctricos, Espejos exteriores retractiles eléctricos, Espejo central antideslumbrante, Faros antiniebla, Faros regulables desde el interior, Faros de Xenon, Faros direccionales, Techo panoramico o corredizo, Caja automática, Sensor de estacionamiento, Camara de estacionamiento trasera, Sensor de lluvia, Llantas de Aleación, Alarma, Frenos ABS, Frenos de disco en las cuatro ruedas, Airbags, Control de estabilidad (ESP), Traba para niños, Anclaje de asientos infantiles (Isofix), Control de presion de neumáticos, Reproduce CD / DVD, Entrada USB / Auxiliar,
         Bluetooth, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento, GPS</p>
         <a href="http://localhost:3000/pago">Comprar</a>
</body>
</html>