<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Toyota Corolla</h1>
    <img src="https://thumbs.gfycat.com/FaintFeminineIndianrhinoceros-max-1mb.gif" alt="">
    <p>Aire acondicionado, Climatizador automático, Dirección asistida, Cierre centralizado, Cierre de puertas y encendido sin llave, Vidrios eléctricos, Butacas de cuero, Butacas eléctricas, Volante regulable, Volante de cuero, Computadora de abordo, Control de velocidad crucero, Espejos eléctricos, Espejos exteriores retractiles eléctricos, Espejo central antideslumbrante, Faros antiniebla, Faros de Xenon, Caja automática, Camara de estacionamiento trasera, Sensor de lluvia, Llantas de Aleación, Alarma, Frenos ABS, Frenos de disco en las cuatro ruedas, Airbags, Anclaje de asientos infantiles (Isofix), Rueda de auxilio de igual medida, Reproduce CD / DVD, Entrada USB / Auxiliar, 
        Bluetooth, Comandos en el volante / satelital, Sistema de sonido de alto rendimiento, GPS</p>
        <a href="http://localhost:3000/pago">COMPRAR</a>
</body>
</html>