<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Eleji los Mejores vehiculos</h1>
    <main>
        <h2>Nuestros Productos</h2>
        <ul class="lista-productos">
            <li>
                <img src="https://media.toyota.com.ar/4e501cd9-6df2-4685-a3c9-a601a4e8f916.jpeg" width="200px">
                <p> Toyota Cotolla-2017 | Nafta <span class="precio">$8.000.000</span></p>
                <a href="http://localhost:3000/automovilA" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/toyota-hilux-rad-1-1633083284.jpg" width="200px">
                <p>Toyota Hilux- SRX 2019 | Diesel <span class="precio">$13.000.000</span></p>
                <a href="http://localhost:3000/automovilB" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://http2.mlstatic.com/D_NQ_NP_802727-MLA51228318631_082022-O.jpg" width="200px">
                <p>Chevrolet S-10 4X2 | 2013<span class="precio">$6.000.000</span></p>
                <a href="http://localhost:3000/automovilC" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/Chevrolet-Onix-2017/560/560541_1_im.jpg?edit=12" width="200px">
                <p>Chevrolet Onix 2015 | Nafta<span class="precio">$2.50.000</span></p>
                
                <a href="http://localhost:3000/automovilD" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/Ford-Fiesta-KD-2016/577/577562_1_im.jpg?edit=4" width="200px">
                <p>Ford Fiesta KD 2015 | Nafta<span class="precio">$ 3.500.000</span></p>
                <a href="http://localhost:3000/automovilE" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/BMW-Serie-5-2005/583/583791_2_im.jpg?edit=2" width="200px">
                <p>BMW Serie 5<span class="precio">$4.000.000</span></p>
                <a href="http://localhost:3000/automovilF" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/Ford-Ranger-2016/572/572213_1_im.jpg?edit=3" width="200px">
                <p>Ford Ranger C/D 4x2 XLS 2018 | Diesel<span class="precio">$ 8.200.000</span></p>
                
                <a href="http://localhost:3000/automovilG" class="boton">ver mas</a>
            </li>
            
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/Fiat-Toro-2020/567/567052_1_im.jpg?edit=7" width="200px">
                <p>Fiat Toro Ranch 2.0TDI 4x4 AT<span class="precio">$ 10.500.000</span></p>
                <a href="http://localhost:3000/automovilH" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/Volkswagen-Amarok-2012/565/565724_2_im.jpg?edit=3" width="200px">
                <p>Volkswagen Amarok (L10) 2.0TD 4x4 C/D Highline Pack<span class="precio">$ 7.450.000 </span></p>
                <a href="http://localhost:3000/automovilI" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/Toyota-Hilux-2023/584/584073_1_im.jpg?edit=2" width="200px">
                <p>Toyota Hilux (L21) 2.8 D/C 4X4 TDI Conquest AT6<span class="precio">$ 19.800.000</span></p>
               
                <a href="http://localhost:3000/automovilJ" class="boton">ver mas</a>
            </li>
            <li>
                <img src="https://www.deruedas.com.ar/images/autos/Mercedes-Benz-Clase-C-2017/583/583489_1_im.jpg?edit=2" width="200px">
                <p>Mercedes Benz Clase C 200 Avantgarde AT <span class="precio">$15.200.000</span></p>
            
                <a href="http://localhost:3000/automovilJ" class="boton">Ver mas</a>
            </li>

        </ul>
    </main>
</body>
</html>