<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compras</title>

    <style>

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 30px;
        }

        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgb(255, 255, 255);
        }

        .lista-productos {
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .lista-productos label {
            background-color: #fff;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
            margin: 20px;
            width: 300px;
            text-align: center;
            position: relative;
            border-radius: 10px;
            cursor: pointer;
        }

        .lista-productos label img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px 10px 0 0;
            transition: transform 0.2s ease-in-out;
        }

        .lista-productos label img:hover {
            transform: scale(1.1);
        }

        .lista-productos label.pressed img {
            transform: scale(1.5);
            z-index: 1;
        }

        .lista-productos label p {
            color: black;
            font-size: 16px;
            line-height: 1.5;
            margin: 10px 0;
        }

        .lista-productos label .precio {
            font-size: 18px;
            font-weight: bold;
            color: #c00;
        }

        .Mas{
            overflow: hidden;
        }

        .boton{
            text-decoration: none;
        }

        /*...Barra...*/

        .menu {
            background-color: rgb(105, 37, 253);
            color: #fff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            cursor: pointer;
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
            height: 8vh;
            width: auto;
            margin-top: 0;
        }

        .RAD {
            display: none;
        }

        .barra {
            cursor: pointer;
            width: 100%;
            height: auto;
            border: none;
            border-bottom: 1.5px solid rgb(148, 148, 148);
            transform: all 0.2s;
        }

        .menu input:checked+.barra {
            transform: translate(x 1s);
            border: none;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom: 3px solid aqua;
        }

    </style>

</head>

<body>

    <header>
        <div class="Principal">

            <ul class="menu">

                <label class="MARCADO" onclick="INICIO()">
                    <input type="radio" class="RAD" id="uno"><span class="barra">INICIO</span>
                </label>

                <label class="MARCADO" onclick="COMPRAR()">
                    <input type="radio" class="RAD" id="dos"><span class="barra">COMPRAR</span>
                </label>

                <label class="MARCADO" onclick="ALQUILAR()">
                    <input type="radio" class="RAD" id="tres"><span class="barra">ALQUILAR</span>
                </label>

                <label class="MARCADO" onclick="ACERCA_DE()">
                    <input type="radio" class="RAD" id="cuatro"><span class="barra">ACERCA DE</span>
                </label>

                <label class="MARCADO" onclick="CONTACTANOS()">
                    <input type="radio" class="RAD" id="cinco"><span class="barra">CONTACTANOS</span>
                </label>

            </ul>

        </div>
    </header>

    <main>

        <article class="lista-productos">
            
            <label class="Mas">
                <a href="http://localhost:3000/automovilA" class="boton">
                    <img src="https://i.pinimg.com/564x/8a/8e/06/8a8e06ff60e71c5553423b035caf6390.jpg" width="200px">
                </a>
                <p> Toyota Cotolla-2017 | Nafta</p>
                <span class="precio"> $ USD 25.000 </span>
            </label>         
            
            <label class="Mas">
                <a href="http://localhost:3000/automovilB" class="boton">
                    <img src="https://i.pinimg.com/564x/d2/80/5b/d2805b6ad9de3f888e99bc6ba0bb2893.jpg" width="200px">
                    <p>Toyota Hilux- SRX 2019 | Diesel</p>
                    <span class="precio">$ USD 30.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilC" class="boton">
                    <img src="https://i.pinimg.com/564x/d3/60/08/d360080ac6e6bd87ef5479c21459925a.jpg" width="200px">
                    <p>Chevrolet S-10 4X2 | 2013</p>
                    <span class="precio">$ USD 23.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilD" class="boton">                
                    <img src="https://images.unsplash.com/photo-1614200187524-dc4b892acf16?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" width="200px">
                    <p>Ferrari 2015 | Nafta</p>
                    <span class="precio">$ USD 300.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilE" class="boton">
                    <img src="https://images.unsplash.com/photo-1618056210931-39f730ebbf67?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=869&q=80" width="200px">
                    <p>Audi Q5 2015 | Nafta</p>
                    <span class="precio">$ USD 10.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilF" class="boton">
                    <img src="https://i.pinimg.com/564x/b0/15/03/b01503acc46f87358a06ce4a6d343b6b.jpg" width="200px">
                    <p>BMW Serie 5</p>
                    <span class="precio">$ USD 27.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilG" class="boton">
                    <img src="https://i.pinimg.com/564x/9b/7c/39/9b7c39edc9734babc9b91079cb7427bb.jpg" width="200px">
                    <p>Ford Ranger C/D 4x2 XLS 2018 | Diesel</p>
                    <span class="precio">$ USD 15.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilH" class="boton">
                    <img src="https://i.pinimg.com/564x/a0/6e/f8/a06ef8a17f4f6a62e9fb6c8b593708c9.jpg" width="200px">
                    <p>Fiat Toro Ranch 2.0TDI 4x4 AT</p>
                    <span class="precio">$ USD 28.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilI" class="boton">
                    <img src="https://images.unsplash.com/photo-1532581140115-3e355d1ed1de?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" width="200px">
                    <p>Lamborghini Veneno</p>
                    <span class="precio">$ USD 105.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilJ" class="boton">
                    <img src="https://i.pinimg.com/564x/24/12/03/241203dcb7a29a38cb31f88948894cbe.jpg" width="200px">
                    <p>Toyota Hilux (L21) 2.8 D/C 4X4 TDI Conquest AT6</p>
                    <span class="precio">$ USD 40.000</span>
                </a>
            </label>

            <label class="Mas">
                <a href="http://localhost:3000/automovilA" class="boton">
                    <img src="https://cdn.pixabay.com/photo/2016/06/22/21/57/mercedes-benz-1474196_960_720.jpg" width="200px">
                    <p>Mercedes Benz Clase C 200 Avantgarde AT</p>
                    <span class="precio">$ USD 35.000</span>
                </a>
            </label>

        </article>
        
    </main>

    <script>
        function redireccionar() {
            window.location.href = "http://localhost:3000/alquilarPost";
        }
        function INICIO(){
            window.location.href = "http://localhost:3000";
        }
        function COMPRAR(){
            window.location.href = "http://localhost:3000/compras";  
        }
        function ALQUILAR(){
            window.location.href = "http://localhost:3000/alquiler";
        }
        function ACERCA_DE(){
            window.location.href = "#";
        }
        function CONTACTANOS(){
            window.location.href = "https://linktab.co/RedesDS";
        }

    </script>

</body>

</html>