<!DOCTYPE html>
<html>

<head>
  <title>Inicio de sesión</title>
  <link rel="stylesheet" type="text/css" href="estilos.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url("https://images.unsplash.com/photo-1624859636460-4434ba434e28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-size: cover;
      background-repeat: no-repeat;
      font-family: 'Open Sans', sans-serif;
    }

    .contenedor {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 400px;
      height: auto;
      padding: 20px 0px;
      background-color: #ffffff;
      border-radius: 2px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .back-button {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background-color: #1eff00;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .arrow {
      font-size: 20px;
      margin-right: 5px;
    }

    h1 {
      font-size: 2.5rem;
      /* Cambiamos el tamaño de la letra */
      margin-bottom: 20px;
      text-align: center;
      color: #2d2d2d;
      font-family: Arial, sans-serif;
      /* Cambiamos el tipo de letra */
    }

    label {
      font-size: 1.2rem;
      /* Aumentamos el tamaño de la letra */
      font-weight: bold;
      margin-bottom: 10px;
      color: #2d2d2d;
      font-family: Arial, sans-serif;
      /* Cambiamos el tipo de letra */
    }

    input[type="text"],
    input[type="password"] {
      border: none;
      border-radius: 2px;
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
      font-size: 1.2rem;
      /* Aumentamos el tamaño de la letra */
      background-color: #f2f2f2;
      color: #2d2d2d;
      font-family: Arial, sans-serif;
      /* Cambiamos el tipo de letra */
    }

    input[type="submit"] {
      background-color: #05f805;
      color: #ffffff;
      border: none;
      border-radius: 10px;
      padding: 15px 40px;
      font-size: 1.2rem;
      cursor: pointer;

    }

    p {
      font-size: 1rem;
      margin-top: 20px;
      text-align: center;
      color: #2d2d2d;
      font-family: Arial, sans-serif;
      /* Cambiamos el tipo de letra */
    }

    a {
      color: #2d9cdb;
      text-decoration: none;
      font-family: Arial, sans-serif;
      /* Cambiamos */
    }
  </style>
</head>

<body>
  <a href="http://localhost:3000"><button onclick="goBack()" class="back-button"><span class="arrow">&#8592;</span> Volver</button></a>
  <div class="contenedor">
    <h1>Inicio de sesión</h1>
    <form action="http://localhost:3000/loginPost" method="post">
      <label for="username">Email:</label>
      <input type="text" name="username">
      <label for="password">Contraseña:</label>
      <input type="password" name="password">
      <label for="cuil">Ingrese su cuil: </label>
      <input type="number" name="cuil">
      <input type="submit" value="Iniciar sesión">
    </form>
    <p>¿No tienes una cuenta? <a href="http://localhost:3000/register">Regístrate aquí</a>.</p>
  </div>
</body>