<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmcia.online</title>
    <link  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body style="background-color:rgb(227, 214, 214) ;">
    <h1>Concesonaria Cars </h1>
    <h3>cars.com</h3>
    
<div class="navbar navbar-expand-lg bg-light">
    <nav class="nav nav-tabs">
        <a class="nav-link active" aria-current="page" href="">Comprar</a>
        <a class="nav-link active" aria-current="page" href="http://localhost:3000/Consulta">Alquiler</a>
        <a class="nav-link active" aria-current="page" href="">Otros</a>
    </nav>
</div>
<img src=https://i0.wp.com/pymesenlaweb.com/wp-content/uploads/2019/12/consulta-gratis-scaled.jpg?resize=1024%2C443&ssl=1"">
</body>
</html>