<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>

    <style>
        /*...Cuerpo...*/
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        /*...Barra...*/

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 30px;
        }

        .about {
            font-size: 20px;
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }

        .logo {
            margin-left: -100px;
            font-size: 24px;
            font-weight: bold;
            color: #000;
            text-decoration: none;
        }

        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            font-size: large;
            position: relative;
            right: 70px;
            left: 70px;
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav ul li {
            margin-right: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: #000;
            font-weight: bold;
        }

        /*...Segunda Seccion...*/

        .main-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 3%;
            background-color: rgba(240, 248, 255, 0.772);
            padding-left: 50px;
            padding-right: 70px;
        }

        .main-content .text {
            max-width: 30%;
        }

        .main-content p {
            font-size: 18px;
            line-height: 1.5;
        }

        .main-content figure img {
            max-width: 110%;
            height: auto;
            border-radius: 8px;
        }

        /*...Slider...*/

        .Slider {
            position: relative;
            overflow: hidden;
        }

        .slider-wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            transition: transform 0.5s;
            animation: slider-animation 10s infinite linear;
        }

        .slider-slide {
            flex: 0 0 100%;
        }

        .slider-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /*... Frame Animation...*/

        @keyframes slider-animation {
            0% {transform: translateX(0%);}
            25% {transform: translateX(0%);}
            33.33% {transform: translateX(-100%);}
            58.33% {transform: translateX(-100%);}
            66.66% {transform: translateX(-200%);}
            91.66% {transform: translateX(-200%);}
            100% {transform: translateX(0%);}
        }
    </style>
</head>

<body>
    <div class="container">
        <nav>
            <a class="logo" href="#">Logo</a>
            <ul>
                <li><a href="#">Acerca de</a></li>
                <li><a href="http://localhost:3000/compras">Comprar</a></li>
                <li><a href="http://localhost:3000/alquiler">Alquilar</a></li>
                <li><a href="#">Contactanos</a></li>
            </ul>
            <a href="http://localhost:3000/login" class="about">Ingresar</a>
        </nav>

        <div class="main-content">
            <div class="text">
                <h1>Nosotros</h1>
                <p>Somos una empresa especializada en la venta y alquiler de vehículos. Ofrecemos una amplia variedad de
                    opciones, desde coches compactos hasta vehículos de lujo. Nuestro objetivo es brindar una
                    experiencia satisfactoria y sin complicaciones a nuestros clientes. Visítenos para encontrar
                    vehículos confiables y de calidad.
                </p>
            </div>

            <figure class="Slider">
                <div class="slider-wrapper">
                    <div class="slider-slide">
                        <a href="http://localhost:3000/automovilA">
                            <img src="https://images.unsplash.com/photo-1621135802920-133df287f89c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Imagen 1">
                        </a>
                    </div>
                    <div class="slider-slide">
                        <a href="http://localhost:3000/automovilB">
                            <img src="https://images.unsplash.com/photo-1563339018-51d1ef22f402?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Imagen 2">
                        </a>
                    </div>
                    <div class="slider-slide">
                        <a href="http://localhost:3000/automovilC">
                            <img src="https://images.unsplash.com/photo-1592198084033-aade902d1aae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Imagen 3">
                        </a>
                    </div>
                </div>
            </figure>

        </div>
    </div>
</body>