<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="shortcut icon" href="coche-electrico.ico" type="image/x-icon" />
    <style>
        /*...Cuerpo...*/
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            position: relative;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 30px;
        }

        /*...Segunda Seccion...*/

        .main-content {
            display: flex;
            align-items: center;
            background-color: rgba(240, 248, 255, 0.772);
            padding-left: 40px;
            margin-top: 60px; 
        }

        .main-content .text {
            max-width: 30%;
        }

        .main-content p {
            font-size: 18px;
            line-height: 1.5;
        }

        .main-content figure img {
            max-width: 110%;
            height: auto;
            border-radius: 8px;
        }

        /*...Slider...*/

        .Slider {
            position: relative;
            overflow: hidden;
        }

        .slider-wrapper {
            display: flex;
            width: 100%;
            height: 100%;
            transition: transform 0.5s;
            animation: slider-animation 10s infinite linear;
        }

        .slider-slide {
            flex: 0 0 100%;
        }

        .slider-slide img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /*... Frame Animation...*/

        @keyframes slider-animation {
            0% {transform: translateX(0%);}
            25% {transform: translateX(0%);}
            33.33% {transform: translateX(-100%);}
            58.33% {transform: translateX(-100%);}
            66.66% {transform: translateX(-200%);}
            91.66% {transform: translateX(-200%);}
            100% {transform: translateX(0%);}
        }

        /*...Barra...*/

        .menu {
            background-color: rgb(90, 89, 94);
            color: #fff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            cursor: pointer;
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            align-items: center;
            height: 8vh;
            width: auto;
            margin-top: 0;
        }

        .RAD {
            display: none;

        }

        .barra {
            cursor: pointer;
            width: 100%;
            height: auto;
            border: none;
            border-bottom: 1.5px solid rgb(148, 148, 148);
            transform: all 0.2s;

        }
        .barra:hover{
            color: aqua;
        }

        .menu input:checked+.barra {
            transform: translate(x 1s);
            border: none;
            border-top: transparent;
            border-left: transparent;
            border-right: transparent;
            border-bottom: 3px solid aqua;
        }

    </style>
</head>

<body>

    <div class="container">

        <header>
            <div class="Principal">
    
                <ul class="menu">
    
                    <label class="MARCADO" onclick="INICIO()">
                        <input type="radio" class="RAD" id="uno"><span class="barra">INICIO</span>
                    </label>
    
                    <label class="MARCADO" onclick="COMPRAR()">
                        <input type="radio" class="RAD" id="dos"><span class="barra">COMPRAR</span>
                    </label>
    
                    <label class="MARCADO" onclick="ALQUILAR()">
                        <input type="radio" class="RAD" id="tres"><span class="barra">ALQUILAR</span>
                    </label>
    
                    <label class="MARCADO" onclick="ACERCA_DE()">
                        <input type="radio" class="RAD" id="cuatro"><span class="barra">ACERCA DE</span>
                    </label>
    
                    <label class="MARCADO" onclick="CONTACTANOS()">
                        <input type="radio" class="RAD" id="cinco"><span class="barra">CONTACTANOS</span>
                    </label>
    
                </ul>
    
            </div>
        </header>

        <div class="main-content">
            <div class="text">
                <h1>Nosotros</h1>
                <p>Somos una empresa especializada en la venta y alquiler de vehículos. Ofrecemos una amplia variedad de
                    opciones, desde coches compactos hasta vehículos de lujo. Nuestro objetivo es brindar una
                    experiencia satisfactoria y sin complicaciones a nuestros clientes. Visítenos para encontrar
                    vehículos confiables y de calidad.
                </p>
            </div>

            <figure class="Slider">
                <div class="slider-wrapper">
                    <div class="slider-slide">
                        <a href="autos/b.html">
                            <img src="https://images.unsplash.com/photo-1621135802920-133df287f89c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Imagen 1">
                        </a>
                    </div>
                    <div class="slider-slide">
                        <a href="autos/a.html">
                            <img src="https://images.unsplash.com/photo-1563339018-51d1ef22f402?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Imagen 2">
                        </a>
                    </div>
                    <div class="slider-slide">
                        <a href="Compras.html">
                            <img src="https://images.unsplash.com/photo-1592198084033-aade902d1aae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Imagen 3">
                        </a>
                    </div>
                </div>
            </figure>

        </div>
    </div>

    <script>
        function redireccionar() {
            window.location.href = "/alquilarPost";
        }
        function INICIO(){
            window.location.href = "/";
        }
        function COMPRAR(){
            window.location.href = "/compras";  
        }
        function ALQUILAR(){
            window.location.href = "/alquiler";
        }
        function ACERCA_DE(){
            window.location.href = "#";
        }
        function CONTACTANOS(){
            window.location.href = "https://linktab.co/RedesDS";
        }

    </script>
    
</body>