<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      background-image: url("https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-size: cover;
      background-repeat: no-repeat;
      font-family: 'Open Sans', sans-serif;
    }

    .buttons-container {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px;
    }

    .login-button,
    .register-button {
      padding: 10px;
      margin-left: 10px;
      background-color: #1e00ff;
      border: 1px solid #ffffff22;
      border-radius: 5px;
      text-decoration: none;
      color: #ffffff;
      font-weight: bold;
      font-size: 14px;
    }

    .title {
      color: black;
      position: fixed;
      font-size: 70px;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%); 
      font-family: 'Montserrat', sans-serif;
    }
  </style>
</head>

<body>
  <h1 class="title">COMPANY</h1>
  <div class="buttons-container">
    <a href="http://localhost:3000/login" class="login-button">Iniciar Sesión</a>
    <a href="http://localhost:3000/register" class="register-button">Registrarse</a>
  </div>
</body>

</html>