<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <div class="mb-3">
        <label >Pago</label>
        <p><label>Titular de la Tarjeta</label><label class="col-sm-2 col-form-label"><input type="text" name="" class="form-control" placeholder="Nombre del tiular"></label></p>
        <p><label>Numero de Tarjeta</label><label class="col-sm-2 col-form-label"><input type="number" name="" class="form-control" placeholder="xxx xxx xxx xxx"></label></p>
        <p><label>Vencimiento </label><label class="col-sm-2 col-form-label"><input type="text" name="" class="form-control" placeholder="MM/A"></label></p>

    </div>
    <input type="submit" value="Pagar">
    </form>
    
</body>
</html>