<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
  <link rel="shortcut icon" href="coche-electrico.ico" type="image/x-icon" />
  <style>
    body {
      font-family: Arial, sans-serif;
      background-image: url("https://images.unsplash.com/photo-1634981297356-f9b4daa98a92?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
      background-size: cover;
      background-repeat: no-repeat;
      font-family: 'Open Sans', sans-serif;
    }

    h1 {
      color: black;
      text-align: center;
      font-size: 2.5em;
      margin-top: 30px;
      background-color: rgba(255, 255, 255, 0.815);
      padding: 3%;
      border-radius: 300px;
    }

    form {
      position: relative;
      width: 80%;
      max-width: 500px;
      margin: 0 auto;
      background-color: white;
      padding: 30px;
      border-radius: 30px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .back-button {
      position: fixed;
      bottom: 20px;
      left: 20px;
      background-color: #0026ff;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      font-size: 16px;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    .arrow {
      font-size: 20px;
      margin-right: 5px;
    }

    input[type="number"],
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="password"],
    select {
      display: block;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 5px;
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    }

    input[type="submit"] {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #0069d9;
    }

    label, p {
      font-weight: bold;
      margin-bottom: 5px;
    }
   
  </style>
</head>

<body>
  <a href="/"><button onclick="goBack()" class="back-button"><span class="arrow">&#8592;</span> Volver</button></a>
  <div class="Contenedor">
    <h1>Registro</h1>
    <form action="/registerPost" method="post">
      <input type="text" name="name" placeholder="Ingrese su nombre">
      <input type="text" name="surname" placeholder="Ingrese su apellido">
      <input type="email" name="email" placeholder="Ingrese su correo electronico">

      <input type="number" name="cuil" placeholder="CUIL">
      <input type="text" name="provincia" placeholder="Provincia">
      <input type="text" name="pais" placeholder="Pais">
      <input type="text" name="localidad" placeholder="Localidad">
      <p>Bono de sueldo</p>
      <input class="padding" type="file" name="file" placeholder="Ingrese su bono de sueldo">
      
      <p>licencia de conducir</p>
      <input class="padding" type="file" name="file" placeholder="Ingrese su bono de sueldo">
      
      <p>Certificado de buena conducta</p>
     
      <input class="padding" type="file" name="file" placeholder="Ingrese su bono de sueldo">
 <p>Posee cuenta bancaria?</p>
      <label>
        <input type="radio" name="gusta_pelota" value="si"> Sí
      </label>
  
      <label>
        <input type="radio" name="gusta_pelota" value="no"> No
      </label>
      <p></p>
      <input type="text" name="dateOfBirth" placeholder="Nombe del banco">
      
      <label for="">Fecha de nacimiento</label>
      <input type="date" name="dateOfBirth" placeholder="Ingrese su fecha de nacimiento">
      <label for="IVA">Ingrese su condicion frente al IVA</label>
      <select name="IVA" id="" required>
        <option>Selecione un valor</option>
        <option value="Responsable Inscripto">Responsable Inscripto</option>
        <option value="Monotributista Clase A">Monotributista Clase A</option>
        <option value="Monotributista Clase B">Monotributista Clase B</option>
      </select>
      <input type="text" name="password" placeholder="Ingrese su contraseña">

      <input type="submit" value="Enviar">
    </form>
  </div>
</body>

</html>